<h1>Find out the Scrabble Score for your word!</hi>

  <form action="/output" method="post">
    <div class="form-group">
      <label for="word">Valid Scrabble Word</label>
      <input id="l" name="word" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Go!</button>
  </form>
